<div>
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h4>Users</h4>
        <a href="#" class="btn btn-primary">Add</a>
    </div>
<table class="table w-100 table-bordered caption-top">
    <thead>
        <tr>
            <th>S. No.</th>
            <th>Name</th>
            <th>Role</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>abhi</td>
            <td>abhi@gmail.com</td>
            <td>25/05/25</td>
            <td><span class="badge rounded-pill bg-primary mx-1">Edit</span><span class="badge rounded-pill bg-danger mx-1">Delete</span></td>
        </tr>
        <tr>
            <td>01</td>
            <td>abhi</td>
            <td>abhi@gmail.com</td>
            <td>25/05/25</td>
            <td><span class="badge rounded-pill bg-primary mx-1">Edit</span><span class="badge rounded-pill bg-danger mx-1">Delete</span></td>
        </tr>
        <tr>
            <td>01</td>
            <td>abhi</td>
            <td>abhi@gmail.com</td>
            <td>25/05/25</td>
            <td><span class="badge rounded-pill bg-primary mx-1">Edit</span><span class="badge rounded-pill bg-danger mx-1">Delete</span></td>
        </tr>
        <tr>
            <td>01</td>
            <td>abhi</td>
            <td>abhi@gmail.com</td>
            <td>25/05/25</td>
            <td><span class="badge rounded-pill bg-primary mx-1">Edit</span><span class="badge rounded-pill bg-danger mx-1">Delete</span></td>
        </tr>
    </tbody>
  </table>
</div>